<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
  <table class="table">
    <tr>
      <td>name</td>
      <td><%= user.name %></td>
    </tr>  
    <tr>
      <td>introduction</td>
      <td><%= user.introduction %></td>
    </tr> 
  </table>
       
  <%= link_to "", edit_user_path(user),class:"btn btn-secondary btn-block fas fa-user-cog edit_user_id" %>
        
<h2>New book</h2>
<%= form_with model:book, url:'/books', local:true do |f| %>

<h4>title</h4>
<%= f.text_field :title %>

<h4>body</h4>
<%= f.text_area :body %>

<br><%= f.submit 'Create Book', class: "btn btn-success btn-sm" %>

<% end %>    
